<div class="modal-dialog">
    <div class="modal-content login-modal">
        <!-- Top image -->
        <div class="login-image-wrapper">
            <!--<img src="../../../../wwwroot/img/collaborate-login.png" />-->
        </div>
        <div class="auth-form">
            <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
                <div class="form-group inner-addon left-addon" [ngClass]="{'has-error' : formErrors.username}">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" class="login-text-input" name="username" placeholder="Username or Email" [(ngModel)]="model.username" required />
                    <div *ngIf="formErrors.username" class="text-danger">
                        {{ formErrors.username }}
                    </div>
                </div>   

                <div class="form-group inner-addon left-addon" [ngClass]="{ 'has-error': formErrors.password }">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" class="login-text-input" name="password" placeholder="Password" [(ngModel)]="model.password" required />
                    <div *ngIf="formErrors.password" class="text-danger">
                        {{ formErrors.password }}
                    </div>
                </div>
                <div *ngIf="invalidCredentials" class="text-danger">
                    Invalid Username/Password
                </div>
                <div class="form-group">
                    <button [disabled]="isLoading" class="login-button">Login</button>
                    <img *ngIf="isLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </div>
    </div>
</div>