@model LoginViewModel

<div class="login-page">
    @Html.Partial("_ValidationSummary")
    <div class="row">
        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-12">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="auth-form">
                            <form asp-route="Login">
                                <p class="app-title">SABIS Collaborate</p>
                                <input type="hidden" asp-for="ReturnUrl" />
                                <fieldset>
                                    <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <input class="login-text-input" placeholder="Username" asp-for="Username" autofocus>
                                    </div>
                                    <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                        <input type="password" class="login-text-input" placeholder="Password" asp-for="Password" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Login</button>
                                        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>