<form>
    <fieldset>
        <h2>Account Details</h2>
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="model.username" class="form-control" name="username" placeholder="Enter Username" required>
        </div>
        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="model.password" class="form-control" name="password" placeholder="Enter Password" required>
        </div>
        <!-- Confirm password -->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" data-match="#password" [(ngModel)]="model.confirmPassword" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="model.email" class="form-control" name="email" placeholder="Enter Email" required>
        </div>

        <h2>User Info</h2>
        <!-- Nickname -->
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" [(ngModel)]="model.nickname" class="form-control" name="nickname" placeholder="Enter a Nickname" required>
        </div>
        <!-- First Name -->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" [(ngModel)]="model.firstName" class="form-control" name="firstName" placeholder="Enter First Name" required>
        </div>
        <!-- Last Name -->
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" [(ngModel)]="model.lastName" class="form-control" name="lastName" placeholder="Enter Last Name" required>
        </div>
        <!-- Gender -->
        <div class="form-group">
            <label for="gender">Gender</label>
            <gender [(selectedGender)]="model.gender" name="gender"></gender>
        </div>
        <!-- Birth date -->
        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <sc-datepicker [(selectedDate)]="model.birthDate" name="birthDate"></sc-datepicker>
        </div>
        <!-- Departments -->
        <div class="form-group">
            <label for="departments">Departments</label>
            <sc-dropdown name="departments" [allOptions]="departmentsOptions" [(selection)]="model.selectedDepartmentIds"></sc-dropdown>
        </div>
        <input type="file"
               ngFileSelect
               [options]="options"
               (onUpload)="handleUpload($event)"
               (beforeUpload)="beforeUpload($event)">

        <button type="submit" (click)="onRegister(model)" class="btn btn-default btn-primary">Register</button>
    </fieldset>
</form>