
<div class="container">
    <div class="row">
        <div class="col-md-6 input-group" style="margin-left: -5.3%; padding-bottom: 1%;">
            <h2>All Users</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12" >
                    <input type="text" class="form-control input-lg" placeholder="Search..." [(ngModel)]="searchValue"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-3" *ngFor="let user of (users | usersPipe:searchValue)">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">{{ user.username }}</h3>
            <p class="card-text">{{ user.profile.firstName + ' ' + user.profile.lastName }}</p>
            <img class="profile-picture" [src]="'http://localhost:49506/api/management/profile/picture?fileId=' + user.profile.pictureId" />
            <!--<a href="javascript:void(0)" (click)="onEditClick(user.id)" class="btn btn-primary">Edit</a>-->
        </div>
    </div>
</div>
