@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";
@import "helpers/_functions.scss";
@import "components/_controls.scss";

body {
    font-size: $font-size-default;
    color: $color-grey-dark;
    font-family: $font-stack;
}

.ng2-datetime-picker-wrapper {
    display: inline;
}

.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 30px;
    height: 100%;
    margin-bottom: 15px;
}

.card-block {
    margin: 15px;
}

.card-username {
    font-size: $font-size-normal;
    text-align: center;
    font-weight: 600;
    color: $color-grey-dark;
    margin: 15px 0;
}

.card-name {
    font-size: $font-size-large;
    text-align: center;
    font-weight: 300;
    color: $color-blue;
    margin: 0px;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.login-button {
    @extend .collaborate-button;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.inline {
    display: inline;
}
// ************ override bootstrap ************
.navbar {
    margin-bottom: 0px;
}

.btn-info {
    background-color: $color-teal-dark;
    border: 1px solid $color-grey;

    &:hover, &:active, &:focus {
        background-color: $color-teal;
    }
}
// ************ END override bootstrap ************
.navbar-inverse {
    background-color: $color-teal-dark;
    border: 0px;

    .navbar-brand,
    .navbar-nav > li > a,
    .navbar-text {
        color: $color-white;
    }


    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: $color-blue-grey-light;
    }
}

/* page-header */
.page-header {
    color: $color-blue-dark;
    border: 0;
    margin-top: 20px;

    .title {
        padding-bottom: 10px;
        border-bottom: 3px solid $color-blue-dark;
    }
}

/* page content */
.body-content {
    margin-top: 50px;
}

/* registration-component */
.register-button {
    background: url("../img/register-button.jpg");
    height: 750px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 50%;
}

.panel-group {
    padding: 0;
    margin: 0;

    .dropdown button {
        width: 100%;
    }

    button[type=submit] {
        width: 100%;
        margin-top: 20px;
    }

    .dropdown {
        width: 100%;
    }

    .panel-heading h3 {
        display: inline-block;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 3px solid $color-blue-dark;
        color: $color-blue-dark;
    }
}

.profile-picture {
    width: 100%;
    border: 1px solid $color-silver;
    margin-top: -30px;
    box-shadow: 0px -5px 10px $color-silver;
    border-radius: 5px;
}

.image-container {
    display: inline-block;

    .image-caption {
        /*top: -30px;*/
        bottom: 30px;
        position: relative;
        background-color: black;
        opacity: 0.7;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        color: white;
        line-height: 30px;
        border-radius: 0 0 4px 4px;
        cursor: pointer;
    }
}


/* Login */
.login-image-wrapper {
    img {
        width: 100%;
    }

    background-image: url('../img/collaborate-login.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    z-index: 50;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.text-danger {
    color: $color-red;
    font-size: $font-size-small;
}
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.auth-form {
    width: 50%;
    margin: 0 auto;
    margin-top: -70px;
    z-index: 100;

    .login-text-input {
        height: 32px;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-blue-grey-dark;
        color: $color-blue-grey-dark;
        font-size: $font-size-normal;
        outline: none;
        background: transparent;
        padding: 0 40px;
    }
}

.page-title {
    font-size: $font-size-extra-large;
    color: $color-yellow-dark;
    font-weight: bold;
    text-transform: uppercase;
    padding: $default-padding 0;
}

.search {
    margin-bottom: $default-padding;
}
