@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "helpers/_variables.scss";
@import "helpers/_mixins.scss";
@import "helpers/_functions.scss";
@import "components/_controls.scss";

body {
    font-size: $font-size-normal;
    color: $color-grey-dark;
    font-family: $font-stack;
    background: url("../img/background.png");
}

.card {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.card-block {
    margin: 15px;
}

.login-button {
    @extend .collaborate-button;
    width: 100%;
    text-align: center;
}

// ************ override bootstrap ************
.navbar {
    margin-bottom: 0px;
}

// ************ END override bootstrap ************