.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.page-consent .client-logo {
    float: left;
}

    .page-consent .client-logo img {
        width: 80px;
        height: 80px;
    }

.page-consent .consent-buttons {
    margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description {
    margin-left: 25px;
}

    .page-consent .consent-form .consent-description label {
        font-weight: normal;
    }

.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}

.grants .page-header {
    margin-bottom: 10px;
}

.grants .grant {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

    .grants .grant img {
        width: 100px;
        height: 100px;
    }

    .grants .grant .clientname {
        font-size: 140%;
        font-weight: bold;
    }

    .grants .grant .granttype {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant .created {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant .expires {
        font-size: 120%;
        font-weight: bold;
    }

    .grants .grant li {
        list-style-type: none;
        display: inline;
    }

        .grants .grant li:after {
            content: ', ';
        }

        .grants .grant li:last-child:after {
            content: '';
        }

/* Login */
body {
    font-size: 16px;
    color: #333333;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

body {
    background-image: url('../../images/ppl-connection-high.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-button {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.login-image-wrapper {
    background-image: url("../images/collaborate-login.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    z-index: 50;
}

    .login-image-wrapper img {
        width: 100%;
    }

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.text-danger {
    color: #F44336;
    font-size: 0.7em;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.auth-form {
    width: 50%;
    margin: 70px auto;
    z-index: 100;
}

    .auth-form .login-text-input {
        height: 32px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #37474F;
        color: #37474F;
        font-size: 0.88em;
        outline: none;
        background: transparent;
        padding: 0 40px;
    }

.page-title {
    font-size: 1.4em;
    color: #F9A825;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
}

.login-button {
    background-color: #2196F3;
    color: #F0F0F0;
    font-size: 0.88em;
    font-weight: 500;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    padding: 7.5px 15px;
}

    .collaborate-button:hover, .login-button:hover {
        background-color: #64B5F6;
    }
