// =============================================================================
//Collaborate Colors
// =============================================================================
$color-green: #016836;
$color-grey: #464646;
$color-silver: #BBBBBB;
$color-white: #F0F0F0;

$color-blue: #2196F3;
$color-blue-grey: #607D8B;
$color-red: #F44336;
$color-yellow: #FFEB3B;
$color-purple: #673AB7;
$color-teal: #009688;

$color-grey-dark: #333333;
$color-grey-light: #E4E4E4;

$color-green-dark: #00532B;
$color-green-fade: #4D9572;
$color-green-light: #99C2AE;
$color-green-pale: #CCE0D6;
$color-green-bright: #02B45D;


$color-blue-dark: #1565C0;
$color-blue-light: #64B5F6;
$color-blue-fade: #BBDEFB;

$color-blue-grey-dark: #37474F;
$color-blue-grey-light: #90A4AE;
$color-blue-grey-fade: #CFD8DC;



$color-red-dark: #C62828;
$color-red-light: #EF5350;
$color-red-fade: #FFCDD2;

$color-yellow-dark: #F9A825;
$color-yellow-light: #FFF176;
$color-yellow-fade: #FFF9C4;

$color-purple-dark: #4527A0;
$color-purple-light: #9575CD;
$color-purple-fade: #D1C4E9;

$color-teal-dark: #00695C;
$color-teal-light: #4DB6AC;
$color-teal-fade: #B2DFDB;
// =============================================================================
//Fonts and sizes
// =============================================================================
$font-stack: 'Open Sans',Arial,Helvetica,Sans-Serif;
$font-size-default: 16px;
$font-size-extra-large: 1.4em;
$font-size-large: 1.12em;
$font-size-normal: 0.88em;
$font-size-small: 0.7em;
$font-size-extra-small: 0.6em;


// =============================================================================
//Screen sizes
// =============================================================================

// =============================================================================
//Global Variables
// =============================================================================
$default-padding: 15px;
$default-corner-radius: 2px;

