// =============================================================================
//Collaborate Colors
// =============================================================================
$color-green: #016836;
$color-grey: #464646;
$color-silver: #BBBBBB;
$color-white: #F0F0F0;

$color-blue: #006699;
$color-blue-grey: #546E7A;
$color-red: #881111;
$color-yellow: #FFCC00;
$color-purple: #663377;

$color-grey-dark: #333333;
$color-grey-light: #E4E4E4;

$color-green-dark: #00532B;
$color-green-fade: #4D9572;
$color-green-light: #99C2AE;
$color-green-pale: #CCE0D6;
$color-green-bright: #02B45D;

$color-blue-dark: #00517A;
$color-blue-fade: #4C93B7;
$color-blue-light: #99C1D6;
$color-blue-pale: #CCE0EA;
$color-blue-bright: #0099E6;

$color-blue-grey-dark: #435861;
$color-blue-grey-fade: #8799A1;
$color-blue-grey-light: #BAC5C9;
$color-blue-grey-pale: #DCE2E4;
$color-blue-grey-bright: #7895A2;


$color-red-dark: #6C0D0D;
$color-red-fade: #AB5858;
$color-red-light: #CF9F9F;
$color-red-pale: #E7CFCF;
$color-red-bright: #CC1A1A;

$color-yellow-dark: #CCA300;
$color-yellow-fade: #FFE57F;
$color-yellow-light: #FFEFB2;
$color-yellow-pale: #FFF4CC;
$color-yellow-bright: #FFDB4D;

$color-purple-dark: #51285F;
$color-purple-fade: #93709F;
$color-purple-light: #C1ADC8;
$color-purple-pale: #E0D6E3;
$color-purple-bright: #944AAD;

// =============================================================================
//Fonts and sizes
// =============================================================================
$font-stack: 'Open Sans',Arial,Helvetica,Sans-Serif;

$font-size-extra-large: 22px;
$font-size-large: 18px;
$font-size-normal: 14px;
$font-size-small: 10px;
$font-size-extra-small: 8px;


// =============================================================================
//Screen sizes
// =============================================================================

// =============================================================================
//Global Variables
// =============================================================================
$default-padding: 15px;
$default-corner-radius: 2px;

