@model List<Department>

@* All Departments *@
<h2>All Departments</h2>
<ul class="list-group">
    @foreach (var Department in Model)
    {
        <li class="list-group-item">@Department.Description</li>
    }
</ul>