@model List<SABISCollaborate.Management.Core.Registration.Model.User>

@*<ul class="list-group">
    @{
        Model.ForEach(user =>
        {
            @<li class="list-group-item"></li>;
        });
    }
</ul>*@