//@import "helpers/variables";
@import"../helpers/_variables.scss";
@import "../helpers/_mixins.scss";
@import "../helpers/_functions.scss";

.collaborate-button {
    background-color: $color-blue;
    color: $color-white;
    font-size: $font-size-normal;
    font-weight: 500;
    @include border-radius;
    @include text-truncate;
    border: none;
    padding: $default-padding/2 $default-padding;


    &:hover {
        background-color: $color-blue-light;
    }
}
